<div class="w-full py-2">
  <div class="flex rounded-md overflow-hidden shadow-sm h-auto bg-pink-50">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">
        <%= link_to("#{list.name}", list_path(list.id), class: "font-bold") %>
      </div>
      <p class="text-gray-700 text-base">
        <%= "#{list.description}" %>
      </p>
    </div>
  </div>
</div>
