<%= render "shared/container", classes: "items-center bg-white" do %>
  <div class="flex rounded-md bg-pink-50 shadow-sm p-4">
    <div class="block">
      <%= link_to("#{list.name}", list_path(list.id), class: "font-bold") %>
      <%# <% list_solutions = Solution.where %>
    </div>
  </div>
<% end %>
