<div class=" w-full lg:max-w-full lg:flex">
<div class="p-2 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">
  <div class="rounded overflow-hidden shadow-s bg-pink-100">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">
        <%= link_to("#{list.name}", list_path(list.id), class: "font-bold") %>
      </div>
      <p class="text-gray-700 text-base">
        <%= "#{list.description}" %>
      </p>
    </div>
  </div>
</div>
</div>
