<div class="min-h-screen bg-gradient-to-t from-pink-200 to-purple-400 p-0  flex justify-center">
    <div class="max-w-sm rounded overflow-hidden shadow-md h-1/3 w-2/3 pt-3 ">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2 text-white">Update your list name</div>
        <p class="text-gray-700 text-base">
          <%= render "form", list: @list %>
        </p>
      </div>
    </div>
  </div>
