<div class="min-w-screen flex items-center justify-center px-2 py-2">
    <div class="w-full mx-auto rounded-lg bg-white shadow-lg px-5 pt-5 pb-10 text-gray-800" style="max-width: 500px">
        <div class="w-full pt-1 pb-5">
        </div>
        <div class="w-full mb-10">
          <div class="text-3xl text-pink-500 text-left leading-tight h-3">“</div>
          <p class="text-m text-black text-center px-3"> Bob... Build Our Bussiness with Our Bussiness Buddy</p>
          <div class="text-3xl text-pink-500 text-right leading-tight h-3 -mt-3">”</div>
        </div>
    </div>
  </div>
