<%= render partial: "shared/category", collection: @categories %>

<%= link_to(
  "Show All",
  { controller: :products, :action => :index },
  :class => "
    h-24
    w-28
    block
    border
    justify-center
    items-center
    text-center
    text-s
    font-bold
    mx-1
    pt-8
    bg-indigo-200
    text-white
    rounded-full
    shadow-sm
  "
) %>
  </div>
  </div>
  <div class ="row">
