<% classes ||= "" %>

<div class="md:max-w-2xl mx-auto w-full h-full flex-1 relative <%= classes %>">
  <%= yield %>
</div>

<!-- use like this -->
<%# <%= render "shared/container", classes: "p-4 flex flex-col items-center" do %>
  <!-- Whatever you want inside container -->
<%# <% end %>
