<div class="min-h-screen bg-gradient-to-r from-purple-400 to-pink-500 p-20">
  <div class="d-flex justify-content-center">
    <div class="relative w-full text-center">
      <% if user_signed_in? %>
        <h1 class="animate-pulse font-bold text-white text-2xl mb-6"> Welcome <%= current_user.full_name %> ! to BOB</h1>
      <% else %>
        <h1 class="animate-pulse font-bold text-white text-2xl mb-6"> Welcome to BOB!</h1>
      <% end %>
        <p class="font-mono txl-8xl"> Bob... Our Bussiness Buddy</p>
        <div class="d-flex justify-content-center mt-5">
        <%= link_to("Browse our solutions", products_path, class: "btn btn-dark") %>
        </div>
    </div>
  </div>
</div>

Others
UPVOTE ICON
<i class="fas fa-heart"></i>
ADD CONTRIBUTOR ICON in add contributors page
<i class="fas fa-user-plus"></i>
ADD ROUND ICON
<i class="fas fa-plus-circle"></i>
Cancel CROSS ICON
<i class="fas fa-times"></i>
<br><br>
CATEGORIES
Accounting
<i class="fas fa-book"></i>
User Experienc
<i class="fas fa-edit"></i>
Developper
<i class="fas fa-laptop-code"></i>
Marketing
<i class="fas fa-search-dollar"></i>
CRM
<i class="fas fa-project-diagram"></i>

Analytics
<i class="fas fa-chart-line"></i>

Productivity
<i class="fas fa-industry"></i>

Design
<i class="fas fa-pencil-ruler"></i>
