<div class=" min-h-2 flex flex-wrap place-content-evenly text-white mb-6 place-content-evenly ">
  <% if user_signed_in? %>
      <h1 class="animate-pulse py-12 uppercase flex-wrap font-bold text-2xl md:text-7xl sm:text-2xl ">Welcome <%= current_user.full_name %> to BOB!</h1>
    <% else %>
      <h1 class="animate-pulse py-12 uppercase flex-wrap font-bold text-2xl md:text-7xl sm:text-2xl "> Welcome to BOB!</h1>
    <% end %>
  </div>
  <div class="">
  <%# <%= render 'shared/lgcontainer' %>
    <%# #bob come on in button# %>
    <div class="min-w-screen flex flex-wrap place-content-evenly items-center justify-center px-2 py-2">
      <div class="w-2/3 mx-auto rounded-lg bg-white shadow-lg px-5 pt-5 pb-10 text-gray-800" style="max-width: 500px">
          <div class="w-full pt-1 pb-5">
            <div class="rounded-full overflow-hidden w-40 h-40 -mt-16 mx-auto bg-gradient-to-br bg-gradient-to-t from-purple-300 via-pink-200 to-purple-300">
              <%= link_to(
                products_path,
                class: ""
                ) do %>
                <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_ft7sexw4.json"  background="transparent"  speed="1"  style="width: 150px; height: 150px;"  loop  autoplay></lottie-player>
                <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
              <% end %>
            </div>
          </div>
        </div>
        <div class="w-full mb-10">
          <div class="text-3xl text-pink-500 text-left leading-tight h-3">“</div>
          <p class="text-m text-white text-center px-3"> Bob... Build Our Bussiness with Our Bussiness Buddy</p>
          <div class="text-3xl text-pink-500 text-right leading-tight h-3 -mt-3">”</div>
      </div>
    </div>
  </div>
  <div class="h-24">
  </div>

  <% @categories.each do |category| %>
    <div class="min-w-screen over flex flex-wrap place-content-evenly items-center justify-center px-2 py-2">
      <div class="w-2/3 mx-auto rounded-lg bg-pink-100 shadow-sml px-5 pt-5 pb-5">
        <div class="w-1/2 pt-1 pb-5">
          <%= render partial: "shared/category", locals: { category: category} %>
        </div>
      </div>
    </div>
  <% end %>
</div>
