  <%# title container %>
<div class="min-h-2 flex flex-wrap place-content-evenly text-white mb-6 place-content-evenly mb-56">
  <% if user_signed_in? %>
    <h1 class="animate-pulse pt-20 text-center uppercase flex-wrap font-bold text-2xl md:text-7xl sm:text-2xl">Hello there <%= current_user.full_name %>!<br>Welcome to BOB!</h1>
  <% else %>
    <h1 class="animate-pulse pt-20 text-center uppercase flex-wrap font-bold text-2xl md:text-7xl sm:text-2xl"> Welcome to BOB!</h1>
  <% end %>
</div>

<%# #bob come on in button# %>
<div id="subRocket"></div>
<div class="min-w-screen flex flex-wrap place-content-evenly items-center justify-center px-2 py-2 ">
  <div class="w-2/3 mx-auto rounded-lg bg-transparent px-5 pt-5" style="max-width: 500px">
    <div class="w-full pt-1 h-40">
      <div id="rocket" class="rounded-full overflow-hidden w-40 h-40 mx-auto bg-gradient-to-br bg-gradient-to-t from-purple-300 via-pink-200 to-purple-300">
        <%= link_to(
          products_path,
          class: ""
          ) do %>
          <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_ft7sexw4.json"  background="transparent"  speed="1"  style="width: 150px; height: 150px;"  loop  autoplay></lottie-player>
          <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%# creating a category list! %>

<div class="flex flex-col bg-transparent m-auto p-auto h-screen">
  <h1 class="flex py-24 lg:px-20 md:px-10 px-5 lg:mx-40 md:mx-20 mx-5 font-bold text-4xl text-white">Explore our software categories today....</h1>
  <div class="flex overflow-x-scroll pb-10 hide-scroll-bar">
    <div class="flex flex-nowrap lg:ml-40 md:ml-20 ml-10 ">
    <% @categories.each do |category| %>
      <div class="inline-block px-3">
        <div class="w-64 h-64 max-w-xs overflow-hidden rounded-lg shadow-md bg-pink-100 hover:shadow-xl transition-shadow duration-300 ease-in-out">
        <%= render partial: "shared/category", locals: { category: category} %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<style>
.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}
</style>
