.modal-content {
  border-radius: 25px;
  border-width: 1;
  box-shadow: 5px 5px 8px #7c7c7c;
}
.modal-title {
  padding-top: 10px;
  padding-left: 124px;
  font-weight: bold;
}
.modal-header {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px
}
.modal-body {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
