<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
    <a href="/">Home</a>
    </li>
    <li class="breadcrumb-item">
     Products
   </li>
  </ol>
</nav>
<h1>Products</h1>
<div class="row">
  <div class="col-sm-6">
  <% @products.each do |product| %>
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title"><%=link_to product.name,  product.url %></h5>
      <p class="card-text"><%= product.url %></p>
    </div>
  </div>
  <% end %>
  </div>
</div>
<%= link_to("Add Product", new_product_path, class: "btn btn-primary") %>
