<div class="bg-gradient-to-t from-pink-200 to-purple-400 pt-1">
  <h1 class="font-bold text-xl text-center text-white py-10 uppercase">PRODUCTS</h1>
  <%= render "shared/lgcontainer", classes: "p-4 flex flex-col items-center" do %>
    <div class= "row w-full overflow-scroll h-full">
      <div class="d-inline-flex p-2" >
        <%= render 'shared/categorytags' %>
      </div>
    </div>
  </div>
  <%= render partial: "product", collection: @products %>
  <div class="flex justify-center items-center bg-white">
    <div class='mb-20 pb-2'><%== pagy_nav(@pagy) %></div>
  </div>
<% end %>
