<div class="bg-gradient-to-t from-pink-200 to-purple-400 pt-20">
  <h1 class="pl-10 font-bold text-lg bg-transparent uppercase">Products</h1>
  <%= render "shared/lgcontainer", classes: "p-4 flex flex-col items-center" do %>
    <div class= "row w-full overflow-scroll">
      <div class="d-inline-flex p-2" >
        <%= render 'shared/categorytags' %>
      </div>
    </div>
  </div>
  <%= render partial: "product", collection: @products %>
  <div class="flex justify-center items-center bg-white">
    <div class='mb-20 pb-2'><%== pagy_nav(@pagy) %></div>
  </div>
<% end %>
