<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
    <a href="/">Home</a>
    </li>
    <li class="breadcrumb-item">
      <%= link_to("Products", products_path) %>
    </li>
    <li class="breadcrumb-item active">
      New
    </li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1>Add a Product</h1>
    <%= render "form", product: @product %>
  </div>
</div>
