<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
    <a href="/">Home</a>
    </li>
    <li class="breadcrumb-item">
      <%= link_to("Products", products_path) %>
    </li>
    <li class="breadcrumb-item active" aria-current="page"><%= @product.name %></li>
  </ol>
</nav>
<h1>Products</h1>
<ol>
  <li>
    <a href=<%= @product.url %> target="_blank"><%= @product.name %></a>
  </li>
</ol>
